<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Facturas{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li> 
                <li><a href="{% url 'lista_clientes' %}">Lista de Clientes</a></li>
                <li><a href="{% url 'lista_productos' %}">Lista de Productos</a></li>
                <li><a href="{% url 'lista_facturas' %}">Lista de Facturas</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            {% block content %}
                <h1>Bienvenido al Sistema de Facturacion</h1>
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Facturacion - Ordoñez | All Rights Reserved</p>
    </footer>

</body>
</html>
